<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sửa</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        .background_container {
            background-color: #1178B3;
        }

        a {
            cursor: pointer;
        }

        .text-color {
            color: #ffffff;
        }

        .image {
            width: 35%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 100px;
            margin-bottom: 50px;
        }

        .notification {
            text-align: center;
            padding-bottom: 50px;
        }

        .button_login {
            position: static;
            width: 143px;
            height: 38px;
            left: 62px;
            top: 20.5px;
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 160%;
            /* or 38px */
            /* primary */
            color: #ad4a10;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 4px 10px;
            width: 267px;
            height: 79px;
            left: 599px;
            top: 855px;
            background: rgba(232, 107, 38, 0.08);
            border-radius: 25px;
            border: none;
            margin-left: auto;
            margin-right: auto;
            margin-top: 60px;
            margin-bottom: 60px;
        }

        .footer {
            background-color: #1178B3;
            margin-top: 4rem;
            color: #ffffff;
        }
    </style>

<body>

    <header class="section-header">
        <div class="background_container">

            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8 col-sm-6 col-4 mt-2 mb-2">
                        <img src="https://cdn3.f-cdn.com/contestentries/1484825/33424121/5ca0940377bf4_thumb900.jpg"
                            alt="logo" width="100" height="50">
                    </div>
                    <div class="col-lg-4 col-sm-6 col-8">
                        <div class=" float-md-right row">
                            <div class="">
                                <a class="text-color col-2">
                                    <span> </span>
                                </a>
                                <a class="text-color col-8">
                                    <span></span> </span>
                                </a>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </header>


    <div>
        <div class="image">
            <img class="image" src="https://cdn140.picsart.com/326015319115211.png" alt="">
        </div>
        <h2 class="notification">Cập nhật món thành công!</h2>
        <form action="/auth" method="POST">
            <input type="text" name="email" value="<%= email %>" hidden>
            <input type="text" name="password" value="<%= password%>" hidden>
            <button name="button" type="submit" class="button_login">
                OK
            </button>
        </form>
    </div>



    <span>
        <%- include('footer.ejs') %>
    </span>

</html>