<style>
    .footer {
        background-color: #1178B3;
        margin-top: 4rem;
        color: #ffffff;
    }
</style>

<div class="footer">
    <footer class="text-center text-lg-start">
        <div class="container p-4">
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Về chúng tôi</h5>
                    <p>
                        Chẳng cần phải là người sành ăn, bất cứ ai cũng có thể chọn cho mình những quán ăn “ruột” để
                        thưởng thức những món ăn khoái khẩu, ngon miệng và hấp dẫn.
                        Trong danh sách địa chỉ ẩm thực, NHÀ HÀNG ẨM THỰC.... luôn là một điểm đến yêu thích và
                        không
                        thể bỏ qua mỗi khi có dịp.
                        Dù mới đi vào hoạt động hơn 1 tháng qua nhưng nơi đây đã là một địa chỉ lý tưởng để thưởng
                        thức các đặc sản rừng, hải sản tươi ngon nhất.
                    </p>
                </div>
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Thông tin liên hệ</h5>
                    <p>
                        Địa chỉ: Số 98 - Đường abc - P. abc - TP. HCM <br>
                        Tel: +(84) (0) 423423423 / Hotline: (+84 ) (0)324324234 <br>
                        Fax: +(84) (0) 3423432423 <br>
                        Email: abc@xyz.com <br>
                        Fanpage: https://www.google.com/
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>